@page "/Checkin"
@attribute [StreamRendering]

<AntiforgeryToken/>
<div>
    <FluentLabel>Student Services Checkin</FluentLabel>
</div>

<FluentGrid>
    @if (_isCheckedIn is false)
    {
        <FluentGridItem xs="12">
            <EditForm Model="@Model" OnValidSubmit="@SubmitAsync" FormName="StudentCheckin" novalidate>
                <DataAnnotationsValidator/>
                <FluentValidationSummaryl/>

                <FluentGridItem xs="12">
                    <FluentTextField Name="StudentID" @bind-Value="Model!.StudentId" Label="Student ID" Required/>
                    <FluentValidationMessage For="@(() => Model!.StudentId)"/>
                </FluentGridItem>

                <FluentTextField Name="FirstName" @bind-Value="Model!.FirstName" Label="First Name" Required/>
                <FluentValidationMessage For="@(() => Model!.FirstName)"/>

                <FluentSelect name="class" Id="classification" @bind-Value="Model!.QueueType" TOption="string" Required Label="Service Type">
                    <FluentOption Value="">Select Service</FluentOption>
                    <FluentOption Value="CampusIdCard">Campus ID Card</FluentOption>
                    <FluentOption Value="CapAndGown">Cap & Gown</FluentOption>
                    <FluentOption Value="Other">Other</FluentOption>
                </FluentSelect>
                <FluentValidationMessage For="@(() => Model!.QueueType)"/>

                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Check In</FluentButton>
            </EditForm>
        </FluentGridItem>
    }

    else
    {
        <h1>Thank you for checking in @_myName</h1>
    }

</FluentGrid>
