@page "/CampusID/Checkin"

<AntiforgeryToken/>

@if (_isCheckedIn is false)
{
    <MudGrid Class="justify-center">
        <MudItem xs="12" Class="my-4">
            <MudText Typo="Typo.h6" Align="Align.Center">Student Services Checkin</MudText>
        </MudItem>

        <MudItem xs="12">
            <EditForm Model="@Model" OnValidSubmit="@SubmitAsync" FormName="StudentCheckin" novalidate>
                <MudItem xs="12">
                    <MudTextField @bind-Value="Model!.FirstName"
                                  Label="First Name"
                                  Variant="Variant.Outlined"
                                  AutoFocus="true"
                                  Clearable="true"
                                  Counter="20"
                                  Class="px-4">
                        First Name
                    </MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="Model!.LastName"
                                  Label="Last Name"
                                  Variant="Variant.Outlined"
                                  Clearable="true"
                                  Counter="50"
                                  Class="px-4">
                        Last Name
                    </MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @bind-Value="Model!.ContactDetails"
                                  Label="Contact Details"
                                  Variant="Variant.Outlined"
                                  Clearable="true"
                                  Counter="50"
                                  Class="px-4">
                        Contact Details
                    </MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudSelect @bind-Value="Model!.Location"
                               T="string"
                               Label="Location"
                               Variant="Variant.Outlined"
                               Placeholder="Please Select"
                               AnchorOrigin="Origin.BottomCenter"
                               Class="px-4">

                        @if (_queueLocations is not null)
                        {
                            foreach (string queueLocation in _queueLocations)
                            {
                                <MudSelectItem Value="@queueLocation">@queueLocation</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="12" Class="py-16">
                    <div style="text-align:center;">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   FullWidth="true"
                                   ButtonType="ButtonType.Submit"
                                   Style="width: 50%">Check In</MudButton>
                    </div>
                </MudItem>

            </EditForm>
        </MudItem>
    </MudGrid>
}
else
{
    <MudItem xs="12" Class="py-16">
        <MudText Typo="Typo.h4" Align="Align.Center">You have checked in</MudText>
    </MudItem>
    <MudItem xs="12" Class="py-16" Style="text-align: center">
        <MudButton OnClick="@GoBack"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   FullWidth="true"
                   Style="width: 50%">Go Back</MudButton>
    </MudItem>
}
